body{
    font-family: monospace;
}
*{
    background: var(--bg);
    color: var(--fontColor);
    font-family: Helvetica;
}
ul{
    color: var(--fontColor);
    font-family: Helvetica;
}
li{
    list-style: circle;
}
.list{
    list-style: square;
}
:root{
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}
.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --butaoBg: var(--black);
    --butaoFontColor: var(--white);
}
.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    --butaoBg: var(--white);
    --butaoFontColor: var(--black);
}
.butao{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: var(--butaoFontColor);
    background-color: var(--butaoBg);
}
.butao:focus { outline-style: none; }
