body{
    background-image: url(../Ruan_Pablo_Ferraz_Ramos_de_Souza/imagens/back.jpg), url(../Ruan_Pablo_Ferraz_Ramos_de_Souza/imagens/back.jpg);
    background-size: 20% , 20%;
    background-repeat: repeat-y , repeat-y;
    background-position: right , left;
    background-attachment: fixed;
}

main{
    background-color: #1F3C88;
    margin: -8px;
    padding: 70px;
}
.logouniube{
    width: 70%;
    height: auto;
    position: absolute;
    top: 1%;
    left: 49%;
    transform: translateX(-50%);
    background-attachment: fixed;
}

.bem-vindo{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%)
}

.menu{
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%)
}

.sub1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%)
}
.sub2{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%)
}

.link1{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%)
}
.link2{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%)
}